.page-header {
  background-color: #eee;
  padding-block: 2rem;
}

.page-header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (width > 40rem) {
  .page-header .wrapper {
    flex-direction: row;
  }
}

.page-header a {
  color: currentColor;
  text-decoration: none;
}

.page-header nav ul {
  padding-inline-start: 0;
  list-style: "";

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
